.bb{
    display: none;
}

.list{
    margin-right: -40px;
}

/*OTHERを押したとき*/
.OTHER_list{
    background-color: rgba(255,255,255, 0.7);
    height: 160px;
    width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    right: 20px;
    top: 10vh;
    transition: .2s;
    transform: translateY(-200%);
    z-index: 20;
}

.other_in{
    margin-top: 60px;
}

.OTHER_list li{
    text-align: center;
    margin-top: 20px;
}

.OTHER_list a{
    color: #2ca6e0;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
}

/*リストの中のバツ*/
.other_batu{
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
}

.other_batu span{
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background-color: #333132;
    margin-top: 20px;
    display: block;
    position: fixed;
    right: 20px;
}

/*OTHERのバツ印*/
.OTHER_list span:first-of-type{
    top: 0%;
    transform: rotate(45deg);
}
.OTHER_list span:nth-of-type(2){
    opacity: 0;
}
.OTHER_list span:last-of-type{
    top: 0%;
    transform: rotate(-45deg);
}

.OTHER_list.active{
    transform: translateY(0);
}

.gray_display.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
    z-index: -1;
}



.about{
    height: 90vh;
    width: 100%;
    padding: 100px 0 300px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*真ん中*/
.about_logo{
    margin-top: -100px;
    width: 300px;
    text-align: center;
    position: absolute;
    z-index: 10;
    
}

/*背景*/
.back{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
    position: absolute;
    background-color: #000;
}

.text{
    width: 70%;
    padding: 140px 0 50px 0;
    margin: 100px auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    z-index: 5;
    border-radius: 30px;
}


/*370px以下の画面*/
@media screen and (min-width: 0px) and (max-width: 370px) {
    /*フッターリンク*/
    .list2 a{
        padding: 11px;    
    }  
}


/*480px以下の画面*/
@media screen and (max-width: 480px){
    .about{
        height: 1200px;
        padding: 100px 0 200px 0px;
    }

    /*真ん中*/
    .about_logo{
        width: 150px;
        margin-top: -50px;    
    }
    
    .text{
        padding-top: 100px;
        margin-top: 30px;
        width: 70%;
    }
    h3{
        margin: 0;
        padding: 0 15px;
    }
}


/* 650px以下の画面 */
@media screen and (min-width: 481px) and (max-width: 650px){
    .about{
        height: 1000px;
        padding: 150px 0 250px 0;
    }
        /*真ん中*/
    .about_logo{
        width: 250px;
        height: 50px;
    }
    .text{
        margin-top: 30px;
        width: 70%;
    }
}


@media screen and (max-width: 650px){
    .other_list{
        display: none;
    }
    
    .bb{
        display: flex;
    }
}


/*1200px以下の画面*/
@media screen and (min-width: 651px) and (max-width: 1200px){
    .about{
        height: 1050px;
        padding: 120px 0;
    }
        /*真ん中*/
    .about_logo{
        width: 280px;
        height: 55px;
    }
    .text{
        margin: 30px auto 0 auto;
        width: 70%;
    }

    h3{
        padding: 0 25px;
    }
}
