.bb{
    display: none;
}

.list{
    margin-right: -40px;
}

/*OTHERを押したとき*/
.OTHER_list{
    background-color: rgba(255,255,255, 0.7);
    height: 160px;
    width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    right: 20px;
    top: 10vh;
    transition: .2s;
    transform: translateY(-200%);
    z-index: 20;
}

.other_in{
    margin-top: 60px;
}

.OTHER_list li{
    text-align: center;
    margin-top: 20px;
}

.OTHER_list a{
    color: #2ca6e0;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
}

/*リストの中のバツ*/
.other_batu{
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    position: fixed;
    right: 20px;
}

.other_batu span{
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background-color: #333132;
    margin-top: 20px;
    display: block;
    position: fixed;
    right: 20px;
}

/*OTHERのバツ印*/
.OTHER_list span:first-of-type{
    top: 0%;
    transform: rotate(45deg);
}
.OTHER_list span:nth-of-type(2){
    opacity: 0;
}
.OTHER_list span:last-of-type{
    top: 0%;
    transform: rotate(-45deg);
}

.OTHER_list.active{
    transform: translateY(0);
}

.gray_display.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
    z-index: -1;
}

.NEWS2{
    text-align: center;
    font-size: 35px;
    padding-top: 10vh;
}

.sen{
    border-bottom: 2px solid #2ca6e0;
    margin: 0 auto;
    width: 60%;
    border-width: 3px;
}

h2{
    font-size: 35px;
    text-align: center;
}

h3{
    font-weight: 100;
    margin: -20px 0 0 0;
}

.report{
    color: black;
    display: flex;
    width: 70%;
    margin: 70px auto;
    height: 420px;
    text-decoration: none;
}

.ibe{
    width: 450px;
}

.box{
    width: 100%;
    background-color: #EEEEEE;
    padding: 0 20px;
}

.sen2{
    border-bottom: 2px solid #2ca6e0;
    margin: 0 auto;
    width: 60%;
    border-width: 3px;
    margin-bottom: 100px;
}


/* 1350px以下の画面 */
@media screen and (max-width: 1350px){
    .aa{
        margin: 0 auto;
    }

    h1{
        margin: 20px 0 0 0;
    }

    main{
        margin: 0 auto;
    }

    .report{
        width: 100%;
        flex-direction: column;
    }
    
    .ibe{  
        width: 100%;
        object-fit: cover;
    }

    .box{
        width: 100%;
        background-color: #EEEEEE;
        padding: 0;
    }

    h2{
        font-size: 27px;
    }

    h3{
        padding: 0 15px;
    }
}


/* スマホ */
@media screen and (max-width: 490px){
    .aa{
        width: 90%;
    }

    main{
        margin: 0 auto;
    }
    .report{
        margin-bottom: 470px;
    }

    .ibe{
        height: 230px;
    }

    h3{
        height: 530px;
        margin: -10px 0 0 0;
    }

    .sen2{
        margin: 0 auto 70px auto;
        padding-top: 50px;
    }
}


@media screen and (max-width: 650px){
    .other_list{
        display: none;
    }

    .bb{
        display: flex;
    }

    .list{
        margin-right: 0;
    }
}


/* 491px~768pxの画面 */
@media screen and (min-width: 491px) and (max-width: 768px){
    .aa{
        width: 80%;
    }

    .report{
        margin-bottom: 400px;
        flex-direction: column;
    }

    .ibe{
        height: 350px;
    }

    h3{
        margin-bottom: 30px;
    }

    .sen2{
        margin: 0 auto 70px auto;
    }
}



/* 769px~1350pxの画面 */
@media screen and (min-width: 769px) and (max-width: 1350px){
    .aa{
        width: 80%;
    }

    .report{
        margin-bottom: 370px;
        flex-direction: column;
    }

    .ibe{
        height: 420px;
    }

    h3{
        margin-bottom: 30px;
    }

    .sen2{
        margin: 0 auto 70px auto;
        
    }
}


/* 1700px以上の画面 */
@media screen and (min-width: 1700px){
    .report{
        height: 350px;
    }

    .ibe{
        width: 700px;
        object-fit: cover;
    }
}
