/* OTHER */
.OTHER{
    margin: 0 auto 100px auto;
    padding: 20vh 40px 0 40px;
}


/* スマホ */
@media screen and (max-width: 490px){
    .OTHER{
        padding: 20vh 0 0 0;
    }
}

@media screen and (min-width: 1281px){
    .OTHER{
        padding-top: 10vh;
    }
}
